.about {
    width: 1920px;
    min-height: 100vh;
    display: flex;    
    margin-top: 30px;
    background-color: white;
    border-radius: 1rem;
}

.about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.about-buttons-wrapper {
    display: flex;
    flex-direction: column;
    width: 200px;
}