.items-wrapper {
    width: 1920px;
    margin-top: 20px;
}

.items-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 25px;
}

.sidebar_menu {
    display: flex;
    min-width: 290px;
    height: 464px;
    flex-direction: column;
    background: white;
}

.sidebar_menu p {
    font-size: 16px;
    font-weight: 700;
}

.sidebar_wrapper {
    padding: 20px;
}

.items-main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

/* Card Item */

.item {
    display: block;
    width: 300px;
    height: auto;
    background-color: white;

    border-radius: 15px;
    margin-right: 26px;
    margin-bottom: 20px;
}

.item:nth-child(5n) {
    margin-right: 0;
}

.item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px; 
}

.like-item {
    position: absolute;
    transition: 0.1s ease-in;
}

.like-item:hover {
    cursor: pointer;
    scale: 1.05;
}

.item-photo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.item-photo img {
    max-width: 90%;
    max-height: 80%;
    image-rendering: crisp-edges;
}

.item-data {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    word-wrap: break-word;
    color: #293241
}

.item-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    word-wrap: break-word;
    color: #293241
}

.item-price {
    font-size: 17px;
    font-weight: 500;
}

.button-wrapper {
    justify-content: flex-end;
    height: 55px;
}

.item-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #3D5A80;

    border-radius: 15px;

    outline: none;
    border: none;
    transition: ease-out 0.25s;

    font-size: 16px;
    text-align: center;
    color: white;
}

.item-button:hover {
    letter-spacing: 0.5px;
    background-color: #4B6E9C;
    cursor: pointer;
}

/* Horiz Item */

.itemHoriz {
    display: flex;
    width: 100%;
    height: 200px;
    margin-bottom: 30px;

    border-radius: 15px;
    background-color: white;
}

.itemHoriz-container {
    display: flex;
    width: 100%;
    padding: 20px;
}

.itemHoriz-data-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 15px;
}

.itemHoriz-data {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: #293241
}

.itemHoriz-info {
    display: flex;
    height: 100%;
}

.itemHoriz-charcs:nth-child(1n) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: 80%;
    border: 2px solid #3D5A80;
    border-radius: 15px;

    margin-right: 30px;
}

.itemHoriz-title {
    font-size: 24px;
}

.itemHoriz-photo-container {
    display: flex;
    width: 200px;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.itemHoriz-photo-container img {
    max-width: 90%;
    max-height: 90%;
    image-rendering: crisp-edges;
}

.itemHoriz-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #3D5A80;

    border-radius: 15px;

    outline: none;
    border: none;
    transition: ease-out 0.25s;

    font-size: 16px;
    text-align: center;
    color: white;
}

.itemHoriz-button:hover {
    letter-spacing: 0.5px;
    background-color: #4B6E9C;
    cursor: pointer;
 }

.itemHoriz-buttons-wrapper {
    height: 55px;
}

.items-categories {
    display: flex;
    flex-direction: column;

    width: 215px;
    height: 600px;
    resize: none;
    background-color: gray;

    text-align: center;
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 5px;
}

.category {
    display: flex;
}

.chosen_category {
    color: #EE6C4D;
}

.category label {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 15px;
}

.categories input {
    width: 15px;
    height: 22px;
}

.price_input_container {
    display: flex;
    width: 122;
    margin-right: 5px;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.price_input:focus {
    border: 1px solid #3D5A80;
}

.price_input {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
}

.price_input:invalid {
    border: 1px solid red;
}

.price_range_inputs {
    display: flex;
    width: 100%;
}

.applyButton {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;

    background-color: #3D5A80;
    border: none;
    border-radius: 8px;
    color: white;
    transition: ease-out 0.25s;
}

.applyButton:hover {
    cursor: pointer;
    letter-spacing: 0.5px;
}