.items-wrapper {
    display: flex;
    width: 1920px;
    justify-content: space-between;
    margin-top: 20px;
}

.items-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 25px;
}

.sidebar_menu {
    display: flex;
    min-width: 290px;
    height: 464px;
    flex-direction: column;
    background: white;
}

.sidebar_menu p {
    font-size: 16px;
    font-weight: 700;
}

.sidebar_wrapper {
    padding: 20px;
}

.items-main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.items-main-nothing {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.paginationButton {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* Card Item */

.item {
    display: block;
    width: 300px;
    height: auto;
    background-color: white;

    border-radius: 15px;
    margin-right: 26px;
    margin-bottom: 20px;
}

.item:nth-child(5n) {
    margin-right: 0;
}

.item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px; 
}

.like-item {
    position: absolute;
    transition: 0.1s ease-in;
}

.like-item:hover {
    cursor: pointer;
    scale: 1.05;
}

.item-photo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.item-photo img {
    max-width: 90%;
    max-height: 80%;
    image-rendering: crisp-edges;
}

.item-data {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    word-wrap: break-word;
    color: #293241
}

.item_data_wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.item-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    word-wrap: break-word;
    color: #293241;
    margin-bottom: 10pxs;
}

.item-price {
    font-size: 17px;
    font-weight: 500;
}

.button-wrapper {
    justify-content: flex-end;
    height: 55px;
}

.item-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #3D5A80;

    border-radius: 15px;

    outline: none;
    border: none;
    transition: ease-out 0.25s;

    font-size: 16px;
    text-align: center;
    color: white;
}

.item-button:hover {
    letter-spacing: 0.5px;
    background-color: #4B6E9C;
    cursor: pointer;
}

/* Horiz Item */

.itemHoriz {
    display: flex;
    width: 100%;
    height: 200px;
    margin-bottom: 30px;

    border-radius: 15px;
    background-color: white;
}

.itemHoriz-container {
    display: flex;
    width: 100%;
    padding: 20px;
}

.itemHoriz-data-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 15px;
}

.itemHoriz-data {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: #293241
}

.itemHoriz-info {
    display: flex;
    height: 100%;
    margin-top: 15px;
}

.itemHoriz-charcs:nth-child(1n) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: 80%;
    border: 2px solid #3D5A80;
    border-radius: 15px;

    margin-right: 30px;
}

.itemHoriz-price {
    font-size: 20px;
    font-weight: 600;
}

.itemHoriz-title {
    font-size: 24px;
}

.itemHoriz_star {
    height: 100%;
    padding-left: 5px;
}

.item_cart {
    margin-left: 13px;
}

.itemHoriz-photo-container {
    display: flex;
    width: 200px;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
}

.itemHoriz-photo-container img {
    max-width: 90%;
    max-height: 100%;
    image-rendering: crisp-edges;
}

.itemHoriz-buttons-wrapper {
    display: flex;
    align-items: center;
    width: 200px;
    height: 100%;
}

.itemHoriz-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 65px;
    position: relative;
    background-color: #3D5A80;

    border-radius: 15px;

    outline: none;
    border: none;
    transition: ease-out 0.25s;

    font-size: 16px;
    text-align: center;
    color: white;
}

.itemHoriz-button:hover {
    letter-spacing: 0.5px;
    background-color: #4B6E9C;
    cursor: pointer;
}