.items-container {
    width: 1140px;
    display: flex; 
    flex-direction: column;
    margin-top: 20px;
}

.sort-container {
    display: flex;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 10px;

    background-color: #817d7b;

    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    color: #F0BD0A;
}

.items-main {
    display: flex;
    width: 950px;
    flex-wrap: wrap; 
}

.item {
    position: relative;
    display: block;
    width: 285px;
    height: 295px;
    border: 1px solid rgb(78,17,122);
    border-radius: 4px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.item-info-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    text-align: center;
}


.item-info-container h3 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 10px;
}

.item-button {
    width: 120px;
    height: 50px;
    border-radius: 12px;

    background-color: transparent;
    border: 1px solid rgb(78,17,122);
    outline: none;
    box-shadow: inset 0 0 0 0 #4E117A;
    transition: ease-out 0.25s;

    font-size: 16px;
    text-align: center;
}

.item-button:hover {
    color: #F5C240;
    letter-spacing: 0.5px;
    cursor: pointer;
    box-shadow: inset 120px 0 0 0 #4E117A;
}

.button-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item-photo {
    width: 100%;
    height: 150px;
    background-color: black;
    margin-bottom: 10px;
}

.post__btns {
    display: flex;
}

.items-categories {
    display: flex;
    flex-direction: column;

    width: 215px;
    height: 600px;
    resize: none;
    background-color: gray;

    text-align: center;
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 5px;
}

.category {
    display: flex;
}

.category label {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 15px;
}

.categories input {
    width: 15px;
    height: 22px;
}