.items-container {
    width: 1920px;
    display: flex; 
    flex-direction: column;
    margin-top: 20px;
}

.sort-container {
    display: flex;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 10px;

    background-color: #817d7b;

    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    color: #F0BD0A;
}

.items-main {
    display: flex;
    width: 100%;
    flex-wrap: wrap; 
}

.item {
    display: block;
    justify-content: space-between;
    width: 240px;
    height: auto;
    background-color: white;

    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.item-info-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 20px;
        
    justify-content: space-between;
    text-align: flex-start;
}

.item-photo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.item-photo img {
    max-width: 90%;
    max-height: 80%;
    image-rendering: crisp-edges;
}

.item-info-container p {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 10px;
    word-wrap: break-word;
    color: #293241
}

.item-price {
    font-size: 17px;
    font-weight: 500;
}

.item-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #3D5A80;

    border-radius: 15px;

    outline: none;
    border: none;
    transition: ease-out 0.25s;

    font-size: 16px;
    text-align: center;
    color: white;
}

.item-button:hover {
    letter-spacing: 0.5px;
    cursor: pointer;
}

.button-wrapper {
    height: 55px;
}

.items-categories {
    display: flex;
    flex-direction: column;

    width: 215px;
    height: 600px;
    resize: none;
    background-color: gray;

    text-align: center;
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 5px;
}

.category {
    display: flex;
}

.category label {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 15px;
}

.categories input {
    width: 15px;
    height: 22px;
}