.search-query {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 200px;
    height: 48px;
    background: transparent;

    margin-left: 25px;
}

.search-query-input {
    display: flex;

    background: transparent;
    border: none;
    outline: none;

    color: #E5E5E5;
    font-size: 14px;
    font-weight: 600;

    margin-left: 25px;
}

.search-query-input::placeholder {
    color: #E5E5E5;
    font-size: 14px;
    font-weight: 600;
}

.search-query-input:blur {
    color: white;
}

.search-query-magnifier {
    cursor: pointer;
}