.search-query {
    display: flex;
    align-items: center;

    width: 150px;
    height: 48px;
    background: transparent;

}

.search-query-input {
    display: flex;
    width: 150px;

    background: transparent;
    border: none;
    outline: none;

    color: #E5E5E5;
    font-size: 14px;
    font-weight: 600;

    margin-left: 25px;
}

.search-query-input::placeholder {
    color: #E5E5E5;
    font-size: 14px;
    font-weight: 600;
}

.search-query-magnifier {
    cursor: pointer;
}